.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 1rem;
}
h1 {
  color: whitesmoke;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'Calistoga', serif;
}

h1.grow {
    color: rgba(50, 50, 50);
    padding:10px 20px;
    background:ghostwhite;
    font-size:25px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:background 0.1s ease-out, color 0.1s ease-out;
    &:after,
    &:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid ghostwhite;
      transition:all 0.3s ease-in-out;
      }
    
  }
.description {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


.description.hidden {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s, transform 0.5s;
}

.description.animate {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

h1.grow:hover + .description {
  display: block;
 
}

ul {
  padding: 1rem;
  font-size: 2em;
  display: flex;
  align-items: center;
  list-style: none;

  
}

ul li {
  margin-right: 1rem;
}

img {
  height: 2rem;
  display: inline-block;
    color: ghostwhite;
    height: 2.5rem;
    transition: transform 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    margin-left: 0;
    border-radius: 10px;

      &:hover {
        transform: scale(1.5);
        margin-left: 3rem;
        margin-right: 3rem;
        border: 2px solid rgb(247, 244, 244);
      }
    }

    h4 {
      font-family: 'Calistoga', serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add a shadow effect */
      display: none;
      padding: 1rem;
      /* Other styles for h4 */
    }
    
    /* Add styles for when h1.grow is hovered and h4 is displayed */
    h1.grow:hover + .description {
      display: block;
      transition: transform 0.9s ease-in-out;
    }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s ease-in-out;
  }
}

.App-header {
  background-color: #efc7df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

